@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-Bold.woff2') format('woff2'),
        url('font/Raleway-Bold.woff') format('woff'),
        url('font/Raleway-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-Medium.woff2') format('woff2'),
        url('font/Raleway-Medium.woff') format('woff'),
        url('font/Raleway-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-Regular.woff2') format('woff2'),
        url('font/Raleway-Regular.woff') format('woff'),
        url('font/Raleway-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Regular.woff2') format('woff2'),
        url('font/Montserrat-Regular.woff') format('woff'),
        url('font/Montserrat-Regular.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-ExtraLight.woff2') format('woff2'),
        url('font/Montserrat-ExtraLight.woff') format('woff'),
        url('font/Montserrat-ExtraLight.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Light.woff2') format('woff2'),
        url('font/Montserrat-Light.woff') format('woff'),
        url('font/Montserrat-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Regular.woff2') format('woff2'),
        url('font/Roboto-Regular.woff') format('woff'),
        url('font/Roboto-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
}

.main {
    background-image: url(img/main_bg.jpg);
    background-color: #434341;
    background-size: 100%; 
    min-height: 1024px;
    width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .main_slide {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
        .main_slide_but_left {
            align-self: center;
            padding-left: 150px;
        }
        .main_slide_but_left:hover .arrow_left{
            border-bottom: 3px solid #d3c1ad;
            border-left: 3px solid #d3c1ad;
        }
            .arrow_left {
                width: 55px;
                height: 55px;
                background-color: transparent; /*d3c1ad*/
                border-bottom: 3px solid #a2a29f;
                border-left: 3px solid #a2a29f;
                transform: rotate(45deg);
                cursor: pointer;
                transition: 0.5s;
            }
        .main_slide_but_right {
            align-self: center;
            padding-right: 150px;
            
        }
        .main_slide_but_right:hover .arrow_right{
            border-bottom: 3px solid #d3c1ad;
            border-left: 3px solid #d3c1ad;
            
        }
            .arrow_right {
                width: 55px;
                height: 55px;
                background-color: transparent; /*d3c1ad*/
                border-bottom: 3px solid #a2a29f;
                border-left: 3px solid #a2a29f;
                align-self: center;
                transform: rotate(225deg);
                cursor: pointer;
                transition: 0.5s;
            }
        .main_slide_center {
            width: 600px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
        }
            .main_title {
                color: #ffffff;
                font-family: "Raleway";
                font-size: 36px;
                font-weight: 400;
                text-align: center;
                margin-bottom: 5px;
            }
            .main_bold_title {
                color: #ffffff;
                font-family: "Raleway";
                font-size: 52px;
                font-weight: bold;
                font-style: normal;
                text-align: center;
                margin-bottom: 10px;
            }
            .main_text {
                color: #ffffff;
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 300;
                line-height: 24px;
                width: 562px;
                text-align: center;
                padding-bottom: 45px;
            }
            .main_started:hover .main_started_button{
                background-color: #555555;
                border-bottom: 5px solid #555555;
            }
                .main_started_button {
                    background-color: #998675;
                    text-decoration: none;
                    color: #ffffff;
                    font-family: "Raleway";
                    font-size: 14px;
                    font-weight: bold;
                    font-style: normal;
                    padding: 15px 37px;
                    border-radius: 5px;
                    border-bottom: 5px solid #736357;
                    transition: 0.5s;
                }
.services {
    width: 1920px;
}
    .services_list {
        display: flex;
        height: max-content;
        justify-content: space-between;
        padding: 80px 220px;
    }
    .services_item {
        display: flex;
        flex-direction: column;
        width: 270px;
        align-items: center;
        position: relative;
        cursor: pointer;
        transition: 0.7s;
        transition-delay: 0.1s;
    }
        .designe_not_active {
            margin-top: -9px;
        }
        .designe_active {
            margin-top: -9px;
        }
        .icon_not_active {
            transition: 0.5s;
        }
        .icon_active {
            position: absolute;
            left: 41%;
            top: 0;
            opacity: 0;
            transition: 0.5s;
        }
        .icon_development_not_active {
            transition: 0.5s;
        }
        .icon_development_active {
            position: absolute;
            left: 41%;
            top: 0;
            opacity: 0;
            transition: 0.5s;
        }
        .services_item_title {
            text-align: center;
            margin-top: 30px;
            color: #555555;
            font-family: 'Raleway';
            font-size: 18px;
            font-weight: bolder;
            font-style: normal;
            transition: 0.5s;
        }
        .services_item_text {
            text-align: center;
            margin-top: 20px;
            color: #8c8c8c;
            font-family: 'Montserrat';
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            padding-bottom: 30px;
            transition: 2s;
        }
        .line {
            height: 0;
            width: 80px;
            border-bottom: 4px solid #f1eee9;
            position: absolute;
            left: 36%;
            bottom: 0;
            transition: 0.5s;
        }
        .services_item:hover ~ .services_item {
            filter: blur(2px);
            transform: perspective(200px) rotateY(-15deg) scale(0.92);
           }
        .services_item:hover .line {
            border-bottom: 5px solid #c7b299;
            transform: scale(1.1);
        }
        .services_item:hover .services_item_text {
            transform: scale(1.3);
        }
        .services_item:hover .services_item_title{
            color: #c7b299;
            transform: scale(1.1);
        }
        .services_item:hover .icon_not_active {
            opacity: 0;
        }
        .services_item:hover .icon_active {
            opacity: 1;
            transform: scale(1.1);
        }
.screen {
    width: 1920px;
    height: 300px;
    background-color: #fbfaf8;
}        